language: cpp
compiler:
    - gcc
    - clang
dist: bionic
addons:
    apt:
        packages:
            libglfw3-dev
            libglew-dev

script:
    cd assignments/hw3
    mkdir build && cd build
    cmake ..
    make
